---
title: Restaurants
description: Sometimes I'm asked for restaurant suggestions in Toledo, but most of the time, I just forget what restaurants there are, so I put together this handy little list for both myself and others to reference.
layout: default
permalink: /restaurants/
---

<section class="section-primary">
  <div class="container-md">
    <h1 class="tight-heading">Restaurants</h1>
    <p>
      Sometimes I'm asked for restaurant suggestions in Toledo, but most of the time, I just forget what restaurants
      there are. I put together this handy little list for both myself and others to reference. Toledo has tons of
      great bars, eateries, breweries, fine dining, and more, and that means this list may never be complete. If you
      see something's missing, please <a href="/contact/">let me know!</a>
    </p>
  </div>
</section>
<section class="section-secondary">
  <div class="container-xl">
    <ul class="restaurant-list tile-md-2 tile-xl-3">
      {% for restaurant in site.data.restaurants %}
        <li class="restaurant-list-item">
          <a class="restaurant-header" href="{{restaurant.website}}">
            <img class="restaurant-image" src="/resources/img/restaurants/{{restaurant.name | slugify}}.jpg" alt="{{restaurant.name}}" />
            <h3 class="restaurant-name">
              {{restaurant.name}}
              {% if restaurant.star %}
                <i class="fa fa-star"></i>
              {% endif %}
            </h3>
          </a>
          <a class="restaurant-address" href="https://www.google.com/maps/place/{{restaurant.address | url_encode}}">
            {{restaurant.address}}
          </a>
          <div class="restaurant-details">
            <strong class="restaurant-categories">
              {{restaurant.categories}}
            </strong>
            <div class="restaurant-icons">
              {% if restaurant.vegan %}
                <img class="restaurant-icon-vegan" src="/resources/img/ui/vegan.svg" alt="Vegan" />
              {% endif %}
              {% if restaurant.glutenFree %}
                <img class="restaurant-icon-gluten-free" src="/resources/img/ui/gluten-free.svg" alt="Vegan" />
              {% endif %}
              <strong class="restaurant-icon-price">
                {% for i in (1..restaurant.price) %}
                  <i class="fa fa-usd"></i>
                {% endfor %}
              </strong>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>


  </div>
</section>