$erie-background: #932927;

.work-hero-content.erie {
  background: $erie-background url('/resources/img/work/erie/erie-photo-bg.jpg') center center;
  background-size: cover;
  padding: 4rem;
}

.erie-logo {
  max-width: 85rem;
}
