$concurra-background: #efe9ea;

.work-hero-content.satelytics {
  background: $concurra-background url('/resources/img/work/satelytics/background.jpg') center center;
  padding: 4rem;
}

.satelytics-logo {
  max-width: 60rem;
}
