.contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40rem;
  background: $brand-color;
}

.contact-block > .contact-block-email {
  display: inline-block;
  background: $white;
  color: $black;
  padding: 0 2rem;
  transition: .25s opacity ease-in-out;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: .4rem;
}

@media #{map-get($media-queries, lg)} {
  .contact-block > .contact-block-email {
    font-size: 3rem;
  }
}

.contact-block > .contact-block-email:hover {
  opacity: .65;
}

.contact-block > .contact-block-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-block > .contact-block-social-list > li > a {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  color: $black;
  margin: 0 .2rem;
  transition: .25s opacity ease-in-out;
}

.contact-block > .contact-block-social-list > li > a:hover {
  opacity: .65;
}
