$main-footer-height: 10rem;


.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: $main-footer-height;
  position: relative;
  z-index: 1;
}

@media #{map-get($media-queries, lg)} {
  .footer-navigation {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 9rem;
  }
}

.footer-navigation-branding {
  display: flex;
  align-items: center;
  width: 6rem;
  position: relative;
  order: 2;
}

.footer-navigation-branding .footer-navigation-branding-symbol {
  fill: $logo-color;
  transition: .25s fill ease-in-out;
}

.footer-navigation-branding:hover .footer-navigation-branding-symbol {
  fill: $black;
}

.footer-navigation-list {
  display: flex;
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

@media #{map-get($media-queries, lg)} {
  .footer-navigation-list {
    margin: 0;
  }
}



.footer-navigation-list > li {
  margin-right: 2rem;
}

.footer-navigation-list > li:last-child {
  margin-right: 0;
}

.footer-navigation-list > li > a {
  display: block;
  position: relative;
  color: $global-typography-font-color;
  transition: .25s color ease-in-out;
  line-height: 1;
  font-size: 1.3rem;
}

.footer-navigation-list > li > a:hover {
  color: $black;
}
