$main-header-height: 10rem;

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: $main-header-height;
  position: relative;
  z-index: 1;
  padding: 0 1.5rem;
}

@media #{map-get($media-queries, lg)} {
  .main-navigation {
    justify-content: space-between;
    flex-direction: row;
    padding: 0 9rem;
  }
}

.main-navigation-branding {
  display: flex;
  align-items: center;
  width: 6rem;
  margin-bottom: 1.5rem;
  position: relative;
}

@media #{map-get($media-queries, lg)} {
  .main-navigation-branding {
    width: 10rem;
    margin: 0;
  }
}

.main-navigation-branding .main-navigation-branding-symbol {
  fill: $logo-color;
  transition: .25s fill ease-in-out;
}

.main-navigation-branding:hover .main-navigation-branding-symbol {
  fill: $black;
}

.main-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.main-navigation-list > li {
  margin-left: 2rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
}

@media #{map-get($media-queries, lg)} {
  .main-navigation-list > li {
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.main-navigation-list > li:first-child {
  margin-left: 0;
}

.main-navigation-list > li > a {
  display: block;
  position: relative;
  color: $global-typography-font-color;
  transition: .25s color ease-in-out;
  line-height: 1;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.main-navigation-list > li > a:hover {
  color: $black;
}

.main-navigation-list > li > a::after {
  position: absolute;
  top: calc(100% + .4rem);
  right: 0;
  left: 0;
  content: '';
  display: block;
  height: .3rem;
  background: $black;
  opacity: 0;
  transition: .25s opacity ease-in-out;
}

.main-navigation-list > li > a:hover::after {
  opacity: 1;
}
