.outline-button {
  display: inline-block;
  white-space: nowrap;
  border: 2px solid $brand-color;
  padding: 1rem 2rem;
  color: $brand-color;
  transition: .25s color ease-in-out, .25s background ease-in-out;
  flex: 0 0 auto;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.outline-button:hover {
  background: $brand-color;
  color: $white;
}

.outline-button.white {
  border: 2px solid $white;
  color: $white;
}

.outline-button.white:hover {
  background: $white;
  color: $brand-color;
}
