// scss-lint:disable UrlFormat

.hero-header {
  height: 80vh;
}

.hero-header-content {
  position: fixed;
  top: $work-navigation-header-height;
  right: 0;
  left: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
