.container-xs {
  max-width: 40rem;
  margin: 0 auto;
}

.container-sm {
  max-width: 60rem;
  margin: 0 auto;
}

.container-md {
  max-width: 80rem;
  margin: 0 auto;
}

.container-lg {
  max-width: 100rem;
  margin: 0 auto;
}

.container-xl {
  max-width: 120rem;
  margin: 0 auto;
}
