{% include header.html %}

<nav class="work-navigation">
  <ul>
    {% if page.previous %}
      <li class="work-navigation-previous">
        <a href="{{page.previous.url}}"><i class="fa fa-chevron-left"></i> {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next %}
      <li class="work-navigation-next">
        <a href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-chevron-right"></i></a>
      </li>
    {% endif %}
  </ul>
</nav>

{{content}}

{% include footer.html %}
