    <div class="contact-block">
      <a class="contact-block-email" href="mailto:hello@danpaquette.net">hello@danpaquette.net</a>
      <ul class="contact-block-social-list">
        <li>
          <a class="fa fa-facebook" href="https://www.facebook.com/danpaquette"></a>
        </li>
        <li>
          <a class="fa fa-twitter" href="https://twitter.com/danpaquette"></a>
        </li>
        <li>
          <a class="fa fa-linkedin" href="https://www.linkedin.com/in/danpaquette/"></a>
        </li>
        <li>
          <a class="fa fa-instagram" href="https://www.instagram.com/danmpaquette/"></a>
        </li>
        <li>
          <a class="fa fa-github" href="#"></a>
        </li>
      </ul>
    </div>
    <footer class="main-footer">
      <nav class="footer-navigation">
        <a class="footer-navigation-branding" href="/">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 500 202.712">
            <title>{{site.data.settings.title}} &bull; {{page.title}}</title>
            <path class="footer-navigation-branding-symbol" d="M398.67,0c-28.585,0-55.158,11.708-74.304,32.438 C305.221,11.708,278.629,0,250.058,0c-28.628,0-55.247,11.745-74.384,32.528C156.52,11.779,129.928,0.053,101.331,0.053H0v202.659 h101.331c28.624,0,55.22-11.735,74.384-32.521c19.15,20.754,45.732,32.471,74.343,32.471h101.331l0.019-101.318 c0-26.062,21.207-47.264,47.263-47.264c26.051,0,47.254,21.201,47.254,47.264v101.318H500V101.343C500,45.46,454.543,0,398.67,0 M250.058,54.079c26.061,0,47.268,21.201,47.268,47.264v47.246h-47.268c-26.058,0-47.272-21.197-47.272-47.246 C202.785,75.28,224,54.079,250.058,54.079 M54.07,54.123l47.261,0.009c26.062,0,47.245,21.196,47.245,47.252 c0,26.062-21.183,47.251-47.245,47.251l-47.261,0.009V54.123z"/>
          </svg>
        </a>
        <ul class="footer-navigation-list">
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/work/">Work</a>
          </li>
          <li>
            <a href="/resources/">Resources</a>
          </li>
          <li>
            <a href="/contact/">Contact</a>
          </li>
        </ul>
      </nav>
    </footer>

    <!-- Scripts -->
    <script src="/resources/js/vendor.min.js"></script>
    <script src="/resources/js/main.min.js"></script>
  </body>
</html>
