$concurra-background: #efe9ea;

.hero-header-content.concurra {
  background: $concurra-background url('/resources/work/concurra/concurra-icon-bg.jpg') center center;
  padding: 4rem;
}

.concurra-logo {
  max-width: 60rem;
}
